@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Steven Covey's 4 Quadrants</h1>
    <p>LANDING PAGE: Some kind of description goes here?? You miss 100% of the shots you don't take. </p>
</div>

