@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Steven Covey's 4 Quadrants</h1>
    <p>
        Steven Covey designated 4 quadrants to use when evaluating the Importance and Urgency of a task. We're excited to help
        recognize and improve your task planning!
    </p>
</div>