@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />
<h4>Congratulations!</h4>
<p>By clicking on this page you've consented to sharing your SSN and other useless information with us.</p>
